#calculator {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #calculator input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 20px;
  }
  
  #calculator button {
    width: 25%;
    padding: 15px;
    flex-grow: 1;
  }
  